<%= if @game_play do %>
  <h4>GAME!!</h4>
<% else %>
<form action="javascript:void(0)" class="game-play">
  <input type="button" class="game-play__button-start" value="<%= gettext "start" %>" phx-click="start_game" />
</form>
<% end %>